{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Update your profile</h1>
    <p>
        <strong>
            First Name: {{ user.first_name }}<br />
            Last Name: {{ user.last_name }}<br />
            Address: {{ user.address }}<br />
            Date Of Birth: {{ dobmonth }} {{ user.dob.day }}, {{ user.dob.year }} <br />
        </strong>
    </p>
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update Profile"/>
    </form>
{% endblock %}